<div class="title">{{ isEdit ? 'Edit meal' : 'Add new meal' }}</div>
<form (ngSubmit)="saveMeal()" #f="ngForm">
  <div class="form-group">
    <label for="mealTime">Meal Time</label>
    <select name="mealTime" id="mealTime" ngModel>
      <option value="">Select</option>
      <option value="breakfast">Breakfast</option>
      <option value="snack">Snack</option>
      <option value="lunch">Lunch</option>
      <option value="dinner">Dinner</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      ngModel
    ></textarea>
  </div>
  <div class="form-group">
    <label for="calorie">Calorie</label>
    <input
      type="number"
      name="calorie"
      id="calorie"
      ngModel
    />
  </div>

  <button class="green" type="submit">
    Save
  </button>
</form>
