form {
  padding: 20px;
  width: 50%;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
label {
  margin-bottom: 4px;
}
input, select {
  height: 34px;
}

textarea {
  padding: 4px;
  height: 100px;
}
