<header>
  <div class="container">
    <div class="header-wrap">
      <div class="links">
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li>
            <a routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add New Meal</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
