<div class="meal-list-wrap" *ngIf="!isFetching; else loading">
  <div class="meal-calories">Total calories: <b>{{  getCaloriesSum() }}</b> kcal</div>
  <div class="meal-list-item" *ngFor="let meal of meals">
    <div class="meal-list-item-info">
      <b>Meal time:</b> {{ meal.mealTime }} <br>
      <b>Description:</b> {{ meal.description }} <br>
      <b>Calorie</b> {{ meal.calorie }} kcal
    </div>
    <div class="meal-list-item-actions">
      <a routerLink="meal/{{ meal.id }}/edit">Edit</a>
      <button (click)="removeMeal(meal.id)" type="button">Delete</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading">Loading...</div>
</ng-template>
