.meal-list-wrap {

}
.meal-calories {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: bisque;
  display: inline-block;
}
.meal-list-item {
  padding: 10px;
  border: 1px solid #7f7f7f;
  background-color: aliceblue;
  margin-bottom: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.meal-list-item-info {
  line-height: 1.4;
}
.meal-list-item-actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  background-color: green;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}
.meal-list-item-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  background-color: tomato;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}
